<!doctype html>
<html>
<head>
  <title>Mithril ITunes App</title>
  <link rel="stylesheet" href="~/Content/out/vendor.css" />
</head>
<body>
  <script src="~/Content/out/vendor.js"></script>
  <script src="~/Content/out/bundle.js"></script>
  <script>
    m.mount(document.body, new App.TunesApp());
  </script>
</body>
</html>